body {
	font-size: 85%;
	font-family: Arial,"Lucida Grande",Calibri,sans-serif;
	color:#000000;
	background:#FFFFFF; 
	max-width: 570px;
	width: 95%;
}

.main {
        margin-left: 2px;
}

.nav {
	text-align: center;
}

.footer {
	text-align: right;
}

a {
	color:#FC7901;
	background:inherit;
	text-decoration:underline;
}

a:hover {
	color:#FC7901;
	background:#FFCC33;
	text-decoration:underline;
}


hr {
	height: 1px;
	color: #c0c0c0;
}
